* {
	box-sizing: border-box;
}

/***********************
 * Background
 ***********************/
body {
	background: #f46b45;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	font-family: "Open Sans", sans-serif;
	font-size: 15px;
}

/***********************
 * Container
 ***********************/
.container {
	margin: 0 auto;
	max-width: 450px;
	width: 100%;
}

/***********************
 * Titles
 ***********************/
h1, h2 {
	margin: 0;
	font-family: "Amaranth", sans-serif;
	font-weight: 400;
	text-align: center;
}

/*
 * All this magic with h1 and its children is to 
 * apply text-shadow using background-clip and 
 * text-fill-color features.
 */
h1 {
	font-size: 4em;
	font-weight: 700;
	position: relative;
}

	h1:after {
		content: "sth-select";
		color: transparent;
		text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
	}

	h1 > span {
		display: inline-block;
		left: 0;
		position: absolute;
		width: 100%;

		background: linear-gradient(to right, #ffffff 0, #d6ad9e 85%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

h2 {
	color: white;
	font-size: 1em;
	margin-bottom: 50px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, .3);
}

/***********************
 * Form
 ***********************/
form {
	background: #fff;
	margin-bottom: 20px;
	padding: 25px;

	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

form label,
form .sth-select {
	display: block;
}

/***********************
 * Footer
 ***********************/
footer {
	color: white;
	font-size: .85em;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
}


/************************
 * Select theme
 ************************/
.sth-select {
	background: #f5f5f5;
	border-color: #c5c5c5;
	border-bottom-width: 2px;
	padding: 5px 10px;
}

label {
	margin-bottom: 5px;
}