[class^="sth-select-"] {
	box-sizing: border-box;
}

/*******************************
 * Field
 *******************************/
.sth-select {
	border: 1px solid #a0a0a0;
	color: #353535;
	display: inline-block;
	padding: 5px;

	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}

.sth-select.fixed-width { 
	width: 100%;
}

.sth-select .sth-select-text {
	width: calc(100% - 15px);
}

.sth-select .sth-select-arrow {
	float: right;
}

.sth-select .sth-select-arrow::before {
	content: "\25bc";
	font-size: .65em;
}

/*******************************
 * Popup
 *******************************/
.sth-select-popup {
	background-color: white;
	
	bottom: 0;
	height: 0;
	left: 0;
	position: fixed;
	width: 100%;
}

.sth-select-popup .sth-select-content {
	cursor: pointer;
	max-height: 100%;
	overflow-y: auto;
}

.sth-select-popup .sth-select-title {
	background-color: #d2d2d2;
	font-size: 22px;
	height: 60px;
	padding: 15px;
}

.sth-select-popup .sth-select-item {
	border-bottom: 1px solid #d2d2d2;
	font-size: 16px;
	height: 44px;
	padding: 12px 15px;
}
